p {
  font-family: "New Times Roman";
}
heading {
  color: blue;
}
h1 {
  color: teal;
}

.objective {
  color: blue;
}

.education {
  color: teal;
}

.skills {
 color: blue; 
}

.experience {
  color: teal;
}
.awards {
  color:blue;
}
