p {
  font-family: New Times Roman;
}

h1 {
  color: maroon;
}

h2.education {
  font-family: cursive;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
}
h5 {
  color: rebeccapurple !important;
}
.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

.description h5 {
  color: teal;
}
h5,
.p {
 font-family: Georgia; 
}
