body{
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

h1 {
  color: #006622;
  font-size: 40px;
  font-weight: bold;
  font: Times New Roman, serif;
}

#myTextArea{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.input
{
    display: block;
    text-align: center;
}

input
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

div.resulta{
    display: block;
    text-align: center;
}

resulta{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

div.user{
    display: block;
    text-align: center; 
}
